#
# 技能综合大师模块配置文件
#

###################################################################################################
#    技能综合大师模块设置
###################################################################################################

#
#    SkillMaster.Enable
#        描述: 是否启用技能综合大师模块
#        默认: 1 (启用)
#
#    注意: 本模块支持任何绑定了 ScriptName='npc_skill_master' 的NPC
#          只需在 creature_template 表中设置:
#          - npcflag 包含 TRAINER (16) 和 GOSSIP (1)，即 npcflag = 17
#          - ScriptName = 'npc_skill_master'
#

SkillMaster.Enable = 1
