#############################################
#        自定义UI称号系统模块配置文件       #
#############################################

[worldserver]

#
# 是否启用自定义UI称号系统
# 默认: 1 (启用)
# 0 - 禁用
# 1 - 启用
#

ChenghaoSystem.Enable = 1

#
# 玩家称号变化时是否发送提示
# 默认: 1 (发送)
# 0 - 不发送
# 1 - 发送
#

ChenghaoSystem.NotifyPlayer = 1
