############################################
#          切割系统模块配置文件             #
############################################

[worldserver]

# 是否启用切割系统
# 默认: 1
CutSystem.Enable = 1

# 是否输出切割系统调试日志
# 默认: 0
CutSystem.Debug = 0
