############################################
#          时装系统模块配置文件             #
############################################

[worldserver]

# 是否启用时装系统
# 默认: 1
FashionSystem.Enable = 1

# 是否输出时装系统调试日志
# 默认: 0
FashionSystem.Debug = 0
